/* space between tabs */
.yui-navset .yui-nav li {margin-right:0.16em; padding-top:1px; /* gecko: make room for overflow */ zoom:1;}

/* for overlap */
.yui-navset .yui-nav .selected {margin-bottom:-1px;}

/* Non Selected Tabs */
.yui-navset .yui-nav a {
    background:#F0F3F5 url(gradient_thead.gif) repeat-x; 
    border:solid #a3a3a3;
    border-width:0 1px;
    color:#FFFFFF;
    text-decoration:none;
}

.yui-navset .yui-nav li a em {
    border-top:solid 1px #a3a3a3;
    border-bottom:0;
    cursor:hand;
    padding:0.2em 0.5em;
    top:-1px; /* for 1px rounded corners */
    position:relative;
}

/* selected tab background color and text color */
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav a:focus,
.yui-navset .yui-nav a:hover {background:#F0F3F5 url(gradient_tcat.gif) repeat-x; color:#FFFFFF;}

/* raise selected tab */
.yui-navset .yui-nav .selected a em {padding:0.4em 0.6em;}

/* selected tab border color */
.yui-navset .yui-nav .selected a,
.yui-navset .yui-nav a:hover,
.yui-navset .yui-nav a:focus {background:#F0F3F5 url(gradient_tcat.gif) repeat-x; color:#FFFFFF;}

/* hover tab border color */
.yui-navset .yui-nav a:hover em,
.yui-navset .yui-nav a:focus em,
.yui-navset .yui-nav .selected a em {border-color:#053764 #406ed9;}

.yui-navset .yui-nav {border-bottom:1px solid #a3a3a3; position:relative; zoom:1;}

.yui-navset .yui-content {background:#ffffff; border-top:5px solid #053764;
}

.yui-navset .yui-content div {border:0px solid #053764; border-top-color:#053764; padding:0.0em 0.0em;}

/* kill inheritance */
.yui-navset .yui-content div div {border:0; padding:0;}