#fdImageThumb
		{
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 243px;
		height: 195px;
		visibility:hidden;
		overflow:hidden;
		}
#fdImageThumb div
		{
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		background:transparent url(loading.gif) no-repeat 0 0;
		visibility:hidden;
		z-index:1;
		}
#fdImageThumb div.imageLoaded
		{
		background:transparent url(loading.gif) no-repeat 0 0;
		}
#fdImageThumb div.imageError
		{
		position:relative;
		display:block;
		left: 25px;
		top: 25px;
		border:0 none;
		width: 202px;
		height: 152px;
		z-index:2;
		background:transparent url(error.gif) no-repeat 0 0;
		}
#fdImageThumb img
		{
		position:absolute;
		display:block;
		border:0 none;
		width: 202px;
		height: 152px;
		z-index:2;
		}
.leftTop
		{
		/* Good browsers */
		background:transparent url(rt.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='rt.png',sizingMethod='image');
		}
.leftTop img
		{
		top:16px;
		left:25px;
		}
.leftTop div
		{
		left: 113px;
		top: 76px;
		}
.leftBottom
		{
		/* Good browsers */
		background:transparent url(lb.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='lb.png',sizingMethod='image');
		}
.leftBottom img
		{
		top:28px;
		left:25px;
		}
.leftBottom div
		{
		left: 113px;
		top: 82px;
		}
.rightTop
		{
		/* Good browsers */
		background:transparent url(lt.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='lt.png',sizingMethod='image');
		}
.rightTop img
		{
		top:16px;
		left:16px;
		}
.rightTop div
		{
		left:103px;
		top:70px;
		}
.rightBottom
		{
		/* Good browsers */
		background:transparent url(rb.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='rb.png',sizingMethod='image');
		}
.rightBottom img
		{
		top:28px;
		left:15px;
		}
.rightBottom div
		{
		left:103px;
		top:80px;
		}
