#fdTipbox2
		{
		display: block;
		position: absolute;
		width: 380px;
		height: 305px;
		left: 0px;
		top: 0px;
		visibility:hidden;
		overflow:hidden;
		}
#fdTipbox3
		{
		display: block;
		position: absolute;
		width: 243px;
		height: 195px;
		left: 0px;
		top: 0px;
		visibility:hidden;
		overflow:hidden;
		}
#fdTipbox2 #fdTiptext2
		{
		display: block;
		position: absolute;
		width: 320px;
		height: 240px;
		z-index: 100;
		color: navy;
		text-align:center;
		font: 0.9em Arial, Helvetica, sans-serif;
		}
#fdTipbox3 #fdTiptext3
		{
		display: block;
		position: absolute;
		width: 202px;
		height: 152px;
		z-index: 100;
		color: navy;
		text-align:center;
		font: 0.9em Arial, Helvetica, sans-serif;
		}

.leftTop2
		{
		background:transparent url(rt2.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='rt2.png',sizingMethod='image');
		}
.leftTop2 #fdTiptext2
		{
		top:25px;
		left:37px;
		}
.leftBottom2
		{
		background:transparent url(lb2.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='lb2.png',sizingMethod='image');
		}
.leftBottom2 #fdTiptext2
		{
		top:42px;
		left:37px;
		}
.rightTop2
		{
		background:transparent url(lt2.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='lt2.png',sizingMethod='image');
		}
.rightTop2 #fdTiptext2
		{
		top:25px;
		left:22px;
		}
.rightBottom2
		{
		background:transparent url(rb2.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='rb2.png',sizingMethod='image');
		}
.rightBottom2 #fdTiptext2
		{
		top:42px;
		left:22px;
		}

.leftTop3
		{
		background:transparent url(rt3.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='rt3.png',sizingMethod='image');
		}
.leftTop3 #fdTiptext3
		{
		top:16px;
		left:25px;
		}
.leftBottom3
		{
		background:transparent url(lb3.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='lb3.png',sizingMethod='image');
		}
.leftBottom3 #fdTiptext3
		{
		top:28px;
		left:25px;
		}
.rightTop3
		{
		background:transparent url(lt3.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='lt3.png',sizingMethod='image');
		}
.rightTop3 #fdTiptext3
		{
		top:16px;
		left:16px;
		}
.rightBottom3
		{
		background:transparent url(rb3.png) no-repeat 0 0 !important;
		/* IE badness */
		background:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='rb3.png',sizingMethod='image');
		}
.rightBottom3 #fdTiptext3
		{
		top:28px;
		left:16px;
		}
